# Norwegian Income Tax

In [3]:
import pandas as pd
import numpy as np

In [78]:
def general_income_pct_cut(salary, lives_in_troms_and_finmark=False):
    if lives_in_troms_and_finmark:
        return 0.185
    else:
        return 0.22

In [21]:
df_bracket_tax = pd.DataFrame(np.array([
    [0, 0],
    [190350, 0.017],
    [267900, 0.04],
    [643800, 0.0134],
    [969200, 0.164],
    [2000000, 0.174]]),
    columns=['Salaray from', 'Percentage'])

df_bracket_tax

   Salaray from  Percentage
0           0.0      0.0000
1      190350.0      0.0170
2      267900.0      0.0400
3      643800.0      0.0134
4      969200.0      0.1640
5     2000000.0      0.1740

In [69]:
def pct_cut_by_index(i, df_bracket_tax):
    return df_bracket_tax.iloc[i, 0], df_bracket_tax.iloc[i, 1]

# returnerer totalte prosenteten som vil blir trukket fra din lÃ¸nn ved trinnskatt
def bracket_tax_pct_cut(salary, df_bracket_tax):
    rest = salary
    government = 0
    for i in reversed(range(len(df_bracket_tax))):
        bound, pct = pct_cut_by_index(i, df_bracket_tax)
        if rest >= bound:
            government += (rest-bound)*pct
            rest = bound

    return government/salary

In [88]:
def social_security_tax_salary(salary):
    return 0.08

In [89]:
def overall_tax_pct(salary, lives_in_troms_and_finmark=False):
    tax = general_income_pct_cut(salary, lives_in_troms_and_finmark)+bracket_tax_pct_cut(salary, df_bracket_tax)+social_security_tax_salary(salary)
    rest = 1-tax
    return rest, tax

In [90]:
def overall_tax_value(salary, lives_in_troms_and_finmark=False):
    rest, tax = overall_tax_pct(salary, lives_in_troms_and_finmark)
    return rest*salary, tax*salary

In [91]:
salary = 2500000

print(overall_tax_pct(salary))
print("{} in salary, left for you is {}".format(salary, overall_tax_value(salary)))

(0.5892936360000001, 0.410706364)
2500000 in salary, left for you is (1473234.09, 1026765.91)